@font-face {
  font-family: "Metropolis-Regular";
  src: url("../fonts/Metropolis/Metropolis-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url("../fonts/Metropolis/Metropolis-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("../fonts/Metropolis/Metropolis-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("../fonts/Metropolis/Metropolis-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-ExtraBold";
  src: url("../fonts/Metropolis/Metropolis-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/Proxima Nova/ProximaNova-Regular.ttf") format("ttf"), url("../fonts/Proxima Nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/Proxima Nova/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.main {
  background: url("../img/main/bg.jpg") no-repeat center;
  height: 1080px;
  position: relative;
}
.main__navbar {
  height: 70px;
  background-color: #fff;
  opacity: 0.95;
}
.main__navbar_dark-theme {
  background-color: #08080C;
}
.main__logo-links-block {
  position: absolute;
  left: 82px;
  bottom: 43px;
  width: 175px;
  display: flex;
  justify-content: space-between;
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__menu-btn {
  display: none;
}
.navbar__link-block {
  display: flex;
  justify-content: space-between;
  align-item: center;
  width: 860px;
  margin: 0;
  padding: 0;
}
.navbar__link {
  font-family: "Metropolis-Regular";
  font-size: 400;
  font-size: 14px;
  line-height: 14px;
}
.navbar__link a {
  text-decoration: none;
  color: #08080C;
  transition: all ease 300ms;
}
.navbar__link a:hover {
  color: #1EE1B3;
  transition: all ease 300ms;
}
.navbar__link_dark-theme a {
  color: #fff;
}
.navbar__interact-block {
  display: flex;
  align-items: center;
}
.navbar__switch-button {
  display: inline-block;
  width: 50px;
  height: 27px;
  border-radius: 31px;
  background: #CDCDCD;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all ease 300ms;
}
.navbar__switch-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url("../img/icons/sun-icon.svg");
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding-top: 1px;
  padding-left: 1px;
  background: #232427;
  top: 1px;
  right: 1px;
  transition: all ease 300ms;
  position: absolute;
  z-index: 1;
}
.navbar__login-button {
  margin-left: 70px;
  margin-right: 27px;
  font-family: "Metropolis-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background: none;
  color: #08080C;
  transition: all ease 300ms;
}
.navbar__login-button:hover {
  color: #1EE1B3;
  transition: all ease 300ms;
}
.navbar__login-button_dark-theme {
  color: #fff;
}
.navbar__sign-in-button {
  font-family: "Metropolis-SemiBold";
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #08080C;
  padding: 14px 22px;
  background: #1EE1B3;
  border-radius: 3px;
  transition: all ease 300ms;
}
.navbar__sign-in-button:hover {
  background: #1EB2E1;
  color: #fff;
  transition: all ease 300ms;
}

.switch-on {
  transition: all ease 300ms;
}
.switch-on::after {
  content: url("../img/icons/moon-icon.svg");
  left: 1px;
  transition: all ease 300ms;
}

.mc-block {
  display: none;
}

@media (max-width: 1399.98px) {
  .main {
    background: url("../img/main/bg.jpg") no-repeat center;
  }
  .main__logo-links-block {
    left: 35px;
    bottom: 32px;
    width: 135px;
  }
  .navbar__link-block {
    width: 700px;
  }
}
@media (max-width: 1199.98px) {
  .main {
    background: url("../img/main/bg.jpg") no-repeat center;
  }
  .main__logo-links-block {
    left: 35px;
    bottom: 32px;
    width: 135px;
  }
  .navbar__link-block {
    width: 650px;
  }
  .navbar__login-button {
    margin-left: 40px;
  }
}
@media (max-width: 991.98px) {
  .main {
    background: url("../img/main/bg-tablet.jpg") no-repeat center;
    height: 760px;
  }
  .main__navbar {
    position: relative;
    height: 75px;
  }
  .main__logo-links-block {
    left: 52px;
    bottom: 32px;
    width: 135px;
  }
  .main__logo-link-img {
    height: 19px;
    width: 19px;
  }
  .navbar__menu-btn {
    display: inline-block;
    font-family: "Metropolis-Regular";
    font-size: 14px;
    line-height: 14px;
    color: #08080C;
    transition: all ease 300ms;
    cursor: pointer;
  }
  .navbar__menu-btn:hover {
    color: #1EE1B3;
    transition: all ease 300ms;
  }
  .navbar__menu-btn_dark-theme {
    color: #fff;
  }
  .navbar__link-block {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-item: center;
    width: 200px;
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
    top: 75px;
    left: 0px;
    background: #fff;
    border-radius: 0 0 5px 5px;
  }
  .navbar__link-block_dark-theme {
    background-color: #08080C;
  }
  .navbar__link {
    margin-bottom: 15px;
  }
  .opened {
    display: flex;
  }
  .mc-block {
    margin-top: 170px;
    display: block;
    text-align: right;
  }
  .mc-block__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .mc-block__subtitle {
    font-family: "Metropolis-Bold";
    font-size: 16px;
    line-height: 16px;
    color: #1EE1B3;
    text-transform: uppercase;
  }
  .mc-block__title {
    font-family: "Metropolis-Bold";
    font-size: 150px;
    line-height: 150px;
    color: #fff;
    text-transform: uppercase;
    margin-right: -10px;
    margin-bottom: 0;
  }
  .mc-block__line {
    border: 1.5px solid #1EE1B3;
    color: #1EE1B3;
    border-radius: 3px;
    width: 42px;
    opacity: 1;
    height: 0;
    margin: 0;
    margin-bottom: 22px;
  }
  .mc-block__text {
    font-family: "ProximaNova-Regular";
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    max-width: 440px;
    text-align: right;
  }
}
@media (max-width: 575.98px) {
  .main {
    background: url("../img/main/bg-phone.jpg") no-repeat center;
    height: 812px;
  }
  .main__navbar {
    height: 70px;
  }
  .main__logo-links-block {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 31px;
    width: 231.32px;
  }
  .main__logo-link-img {
    height: 32.56px;
    width: 32.56px;
  }
  .navbar__link-block {
    top: 70px;
  }
  .navbar__switch-button {
    display: inline-block;
    position: absolute;
    top: 90px;
    right: -82%;
    transform: rotate(-90deg);
    position: relative;
  }
  .navbar__login-button {
    margin-left: 0px;
    margin-right: 17px;
  }
  .mc-block {
    margin-top: 240px;
  }
  .mc-block__subtitle {
    font-size: 11px;
    line-height: 11px;
  }
  .mc-block__title {
    font-size: 102px;
    line-height: 102px;
    margin-right: -7px;
  }
  .mc-block__line {
    width: 29px;
    margin-bottom: 8px;
  }
  .mc-block__text {
    font-size: 8px;
    line-height: 8px;
    max-width: 300px;
  }
}
.partner-logos {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #EFEDED;
  position: relative;
  display: flex;
  justify-content: center;
}
.partner-logos_dark-theme {
  background-color: #08080C;
}
.partner-logos__bg-text {
  font-family: "Metropolis-Bold";
  font-size: 250px;
  line-height: 250px;
  color: #252528;
  opacity: 0.1;
  text-transform: uppercase;
  position: absolute;
  top: -110px;
  left: 190px;
}
.partner-logos__logos-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1034px;
}
.partner-logos__logo {
  opacity: 0.65;
}

@media (max-width: 991.98px) {
  .partner-logos__bg-text {
    font-size: 128px;
    line-height: 128px;
    top: -70px;
    left: 40px;
  }
  .partner-logos__logos-block {
    width: 685px;
  }
  .partner-logos__logo-block:nth-child(1) img {
    width: 98px;
    height: 51px;
  }
  .partner-logos__logo-block:nth-child(2) img {
    width: 78px;
    height: 41px;
  }
  .partner-logos__logo-block:nth-child(3) img {
    width: 93px;
    height: 48px;
  }
  .partner-logos__logo-block:nth-child(4) img {
    width: 51px;
    height: 27px;
  }
  .partner-logos__logo-block:nth-child(5) img {
    width: 69px;
    height: 36px;
  }
}
@media (max-width: 575.98px) {
  .partner-logos {
    padding-top: 25px;
    padding-bottom: 47px;
  }
  .partner-logos__bg-text {
    display: none;
  }
  .partner-logos__logos-block {
    width: 330px;
  }
  .partner-logos__logo-block:nth-child(1) img {
    width: 47px;
    height: 25px;
  }
  .partner-logos__logo-block:nth-child(2) img {
    width: 37px;
    height: 20px;
  }
  .partner-logos__logo-block:nth-child(3) img {
    width: 45px;
    height: 23px;
  }
  .partner-logos__logo-block:nth-child(4) img {
    width: 25px;
    height: 13px;
  }
  .partner-logos__logo-block:nth-child(5) img {
    width: 33px;
    height: 17px;
  }
}
.introducing {
  padding-bottom: 125px;
  background: #EFEDED;
}
.introducing_dark-theme {
  background-color: #08080C;
}
.introducing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introducing__title {
  color: #08080C;
  font-family: "Metropolis-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-transform: capitalize;
}
.introducing__title_dark-theme {
  color: #1EE1B3;
}
.introducing__line {
  border-radius: 3px;
}
.introducing__text {
  margin-top: 64px;
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  max-width: 732px;
  color: #08080C;
}
.introducing__text_dark-theme {
  color: #fff;
}
.introducing__button {
  font-family: "Metropolis-Bold";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #D9D9D9;
  background-color: #08080C;
  padding: 18px 40px;
  margin-top: 70px;
  border-radius: 3px;
  transition: all ease 500ms;
}
.introducing__button:hover {
  color: #08080C;
  background-color: #1EE1B3;
}
.introducing__button_dark-theme {
  background-color: #fff;
  color: #08080C;
}
.introducing__slider-block {
  width: 425px;
}
.introducing__swiper-wrapper {
  padding-top: 37px;
}
.introducing__swiper-button-prev {
  left: 347px;
  top: 59px;
  width: 39px;
  height: 39px;
  background-color: #434343;
  color: #D0CFCF;
}
.introducing__swiper-button-prev::after {
  font-size: 16px !important;
}
.introducing__swiper-button-next {
  right: 0;
  top: 59px;
  width: 39px;
  height: 39px;
  background-color: #434343;
  color: #D0CFCF;
}
.introducing__swiper-button-next::after {
  font-size: 16px !important;
}
.introducing__swiper-scrollbar {
  top: 0px;
  background-color: #fff !important;
  height: 37px !important;
  border-radius: 0 !important;
  background: #EFEDED !important;
}
.introducing__swiper-scrollbar_dark-theme {
  background-color: #08080C !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: #1EE1B3;
  width: 128px !important;
  margin-left: 5px;
}

@media (max-width: 1399.98px) {
  .introducing__text {
    width: 532px;
  }
}
@media (max-width: 1199.98px) {
  .introducing__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .introducing__title {
    font-size: 23px;
    line-height: 23px;
  }
  .introducing__text {
    margin-top: 50px;
    font-size: 13px;
    line-height: 16px;
    max-width: 300px;
  }
  .introducing__button {
    margin-top: 65px;
  }
  .introducing__slider-block {
    width: 300px;
    height: 400px;
  }
  .introducing__slider-block img {
    width: 300px;
    height: 400px;
  }
  .introducing__swiper-wrapper {
    padding-top: 26px;
  }
  .introducing__swiper-button-prev {
    left: 246px;
    top: 48px;
    width: 27px;
    height: 27px;
  }
  .introducing__swiper-button-prev::after {
    font-size: 12px !important;
  }
  .introducing__swiper-button-next {
    top: 48px;
    width: 27px;
    height: 27px;
  }
  .introducing__swiper-button-next::after {
    font-size: 12px !important;
  }
  .introducing__swiper-scrollbar {
    height: 26px !important;
  }
  .introducing .swiper-scrollbar-drag {
    width: 90px !important;
  }
}
@media (max-width: 991.98px) {
  .introducing__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .introducing__text-block {
    margin-top: 80px;
  }
}
@media (max-width: 575.98px) {
  .introducing {
    padding-bottom: 125px;
  }
  .introducing__container {
    flex-direction: column-reverse;
  }
  .introducing__title {
    font-size: 23px;
    line-height: 23px;
  }
  .introducing__line {
    border-radius: 3px;
    width: 62px;
    height: 3px;
  }
  .introducing__text {
    margin-top: 40px;
    font-size: 13px;
    line-height: 16px;
    max-width: 350px;
  }
  .introducing__slider-block {
    width: 300px;
    height: 400px;
  }
  .introducing__slider-block img {
    width: 300px;
    height: 400px;
  }
  .introducing__swiper-wrapper {
    padding-top: 26px;
  }
  .introducing__swiper-button-prev {
    left: 246px;
    top: 48px;
    width: 27px;
    height: 27px;
  }
  .introducing__swiper-button-prev::after {
    font-size: 12px !important;
  }
  .introducing__swiper-button-next {
    top: 48px;
    width: 27px;
    height: 27px;
  }
  .introducing__swiper-button-next::after {
    font-size: 12px !important;
  }
  .introducing__swiper-scrollbar {
    height: 26px !important;
  }
  .introducing .swiper-scrollbar-drag {
    width: 90px !important;
  }
}
.introducing-2 {
  background: url("../img/introducing-2/rectangle-bg.png") left 190px top 210px no-repeat;
}
.introducing-2_dark-theme {
  background-color: #08080C;
}
.introducing-2__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.introducing-2__img-block {
  display: flex;
  justify-content: center;
}
.introducing-2__text-block {
  padding-top: 80px;
  max-width: 700px;
}
.introducing-2__title {
  font-family: "Metropolis-Bold";
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.introducing-2__title_dark-theme {
  color: #fff;
}
.introducing-2__plates-block {
  margin-top: 120px;
}

.plates-block__plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  margin-bottom: 42px;
}
.plates-block__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  background-color: #1EE1B3;
  border-radius: 50%;
}
.plates-block__icon-block_dark-theme {
  background-color: #fff;
}
.plates-block__text-block {
  max-width: 480px;
}
.plates-block__title {
  font-family: "Metropolis-Bold";
  font-size: 20px;
  line-height: 20px;
}
.plates-block__title_dark-theme {
  color: #fff;
}
.plates-block__subtitle {
  font-family: "ProximaNova-Regular";
  font-size: 15px;
  line-height: 19px;
}
.plates-block__subtitle_dark-theme {
  color: #fff;
}

@media (max-width: 1199.98px) {
  .introducing-2 {
    background: url("../img/introducing-2/rectangle-bg-tablet.png") left 60px top 180px no-repeat;
  }
  .introducing-2_dark-theme {
    background-color: #08080C;
  }
  .introducing-2__container {
    padding-top: 0;
  }
  .introducing-2__img-block {
    justify-content: flex-start;
    padding-top: 75px;
    max-width: 340px;
  }
  .introducing-2__img {
    width: 216px;
    height: 510px;
  }
  .introducing-2__text-block {
    padding-top: 34px;
    max-width: 400px;
  }
  .introducing-2__title {
    font-size: 30px;
    line-height: 30px;
  }
  .introducing-2__line {
    width: 144px;
    height: 3px;
  }
  .introducing-2__plates-block {
    margin-top: 120px;
  }
  .plates-block__plate {
    align-items: flex-start;
    width: 370px;
    margin-bottom: 34px;
  }
  .plates-block__plate:nth-child(1) .plates-block__icon {
    width: 31px;
    height: 31px;
  }
  .plates-block__plate:nth-child(2) .plates-block__icon {
    width: 27px;
    height: 27px;
  }
  .plates-block__plate:nth-child(3) .plates-block__icon {
    width: 27px;
    height: 27px;
  }
  .plates-block__icon-block {
    width: 49px;
    height: 49px;
  }
  .plates-block__text-block {
    max-width: 280px;
  }
  .plates-block__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .plates-block__title_dark-theme {
    color: #fff;
  }
  .plates-block__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 767.98px) {
  .introducing-2 {
    background: none;
  }
  .introducing-2_dark-theme {
    background-color: #08080C;
  }
  .introducing-2__container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .introducing-2__img-block {
    background: url("../img/introducing-2/rectangle-bg-mobile.png") left 15px top 130px no-repeat;
    justify-content: center;
    width: 100%;
  }
  .introducing-2__img {
    width: 214px;
    height: 416px;
  }
  .introducing-2__text-block {
    padding-top: 0;
  }
  .introducing-2__line {
    width: 127px;
    height: 3px;
  }
  .introducing-2__plates-block {
    margin-top: 56px;
  }
  .plates-block__plate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 60px;
  }
  .plates-block__icon-block_dark-theme {
    background-color: #fff;
  }
  .plates-block__text-block {
    max-width: 270px;
  }
  .plates-block__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}/*# sourceMappingURL=style.css.map */