.introducing-4
  background-color: $introducing-4-bg
  &_dark-theme
    background-color: $dark
  // .introducing-4__container
  &__container
    padding-top: 140px
    padding-bottom: 90px
    display: flex
    flex-direction: column
    align-items: center
  // .introducing-4__title
  &__title
    font-family: 'Metropolis-SemiBold'
    font-size: 32px
    line-height: 32px
    color: $light
    text-align: center
  // .introducing-4__line
  &__line
    margin: 0
    padding: 0
    width: 43px
    border: 2px solid $accent
    background-color: $accent
    border-radius: 3px
    opacity: 1
    margin-top: 15px
    margin-bottom: 50px
  // .introducing-4__plates-block
  &__plates-block
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 70px
  // .introducing-4__plate-block
  &__plate-block
    max-width: 310px
    background-color: $introducing-3-bg-dark
    padding: 30px
    color: $light
    &:hover
      .plate-block-2__title::after
        transform: translateX(30px)
  // .introducing-4__button
  &__button
    text-transform: uppercase
    color: $light
    background-color: $dark
    font-family: 'Metropolis-Bold'
    font-size: 14px
    line-height: 14px
    padding: 18px 40px
    transition: all ease 300ms
    border-radius: 3px
    &:hover
      background-color: $accent
      color: $light
    &_dark-theme
      background-color: $light
      color: $dark

.plate-block-2
  // .plate-block-2__title
  &__title
    font-family: 'Metropolis-ExtraBold'
    font-size: 20px
    line-height: 20px
    margin-bottom: 24px
    &::after
      transition: all ease 400ms
      position: absolute
      content: url("../img/introducing-4/arrow-right.svg")
      transform: translateX(16px)
      fill: $accent
  // .plate-block__text
  &__text
    font-family: 'ProximaNova-Regular'
    font-size: 15px
    line-height: 19px


@media (max-width: 1199.98px)
  .introducing-4
    // .introducing-4__container
    &__container
      padding-top: 95px
      padding-bottom: 80px
    // .introducing-4__title
    &__title
      font-size: 30px
      line-height: 30px
    // .introducing-4__line
    &__line
      margin-top: 15px
      margin-bottom: 90px
    // .introducing-4__plates-block
    &__plates-block
      margin-bottom: 92px
    // .introducing-4__plate-block
    &__plate-block
      max-width: 220px
      &:hover
        .plate-block-2__title::after
          transform: translateX(20px)

  .plate-block-2
    // .plate-block-2__title
    &__title::after
      transform: translateX(16px)
    // .plate-block__text
    &__text
      font-size: 13px
      line-height: 16px

@media (max-width: 575.98px)
  .introducing-4
    // .introducing-4__container
    &__container
      padding-top: 50px
      padding-bottom: 70px
    // .introducing-4__title
    &__title
      font-size: 20px
      line-height: 20px
    // .introducing-4__line
    &__line
      margin-top: 30px
      margin-bottom: 60px
    // .introducing-4__plates-block
    &__plates-block
      width: 100%
      display: flex
      align-items: center
      flex-direction: column
      margin-bottom: 70px
    // .introducing-4__plate-block
    &__plate-block
      max-width: 220px
      padding: 30px
      margin-bottom: 30px
      &:hover
        .plate-block-2__title::after
          transform: translateX(20px)

